@import '_nullStyle';

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.woff2') format('woff2'), url('../fonts/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.woff2') format('woff2'), url('../fonts/Lato-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.woff2') format('woff2'), url('../fonts/Lato-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Black.woff2') format('woff2'), url('../fonts/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProRegular';
    src: url(../fonts/MyriadProRegular.eot);
    src: url(../fonts/MyriadProRegular.eot?#iefix) format('embedded-opentype'),
        url(../fonts/MyriadProRegular.otf) format('otf'),
        url(../fonts/MyriadProRegular.svg#MyriadProRegular) format('svg'),
        url(../fonts/MyriadProRegular.ttf) format('truetype'),
        url(../fonts/MyriadProRegular.woff) format('woff'),
        url(../fonts/MyriadProRegular.woff2) format('woff2');
}
body{
    font-family: 'Lato';
    &.lock{
        overflow: hidden;
    }
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
.ibg {
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    &_m{
        background-position-y: 100%;
    }
}

.ibg img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

@keyframes arrow {
    0% {
        top: 0;
    }

    100% {
        top: 70%;
    }
}

.mainblock {
min-height: 100vh;
display: flex;
&__row{
flex: 1 1 auto;
display: flex;
}
    &__content {
       height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 10px 0;
     justify-content: space-between;
    }

    &__logo {
        margin-bottom: 3%;
    }

    &__text {
        padding-bottom: 42px;
        position: relative;
        text-align: center;
        margin-bottom: 5%;
        &>*:not(:last-child){
            margin-bottom: 1.174%;   
        }
        &::after{
            content: '';
            width: 105px;
            height: 2px;
            background-color: #fff;
            left: 50%;
            bottom: 0;
           position: absolute;
           margin-left: -52.5px;
        }
    }

    &__title {
        font-size: 34px;
        line-height: 117.65%;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.16em;
        color: #ffffff;
    }

    &__subtitle {
        font-size: 26px;
        line-height: 117.65%;
        font-weight: 400;
        letter-spacing: 0.16em;
        color: #ffffff;
    }

    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__btn {
        margin-bottom: 14%;
    }

    &__arrow {
        width: 17px;
        height: 30px;
        cursor: pointer;
        & img{
position: relative;
animation: arrow 2s ease infinite alternate 1s forwards ;
        }
    }

    &__image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
    }
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}

.btn {
font-size: 16px;
line-height: 1.2;
font-weight: 400;
letter-spacing: 0.06em;
padding: 16px 40px;
transition: all 1s ease 0s;
color: #000;
border: 1px solid #000;
position: relative;
& span{
    position: relative;
    z-index: 1;
}
&::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    // background-color: #000;
    top: 0;
    left:0;
    transform: scale(0);
    transition: all 0.5s ease 0s;

}

    &:hover {
        color: #fff;

        &::after{
            transform: scale(1);
            background-color: #000;
        }
        
    }
    &_w {
        border: 1px solid #fff;
        color: #ffffff;
        &:hover{
           &::after {
background-color: #fff;
           }
                color: #000;
        }
    }
}
@media(max-height:420px){
    .mainblock {
         &__logo {
             margin-bottom: 1%;
         }
             &__text {
                 padding-bottom: 22px;
                 margin-bottom: 2%;

                 &>*:not(:last-child) {
                     margin-bottom: 0.6%;
                 }

             }
                &__title {
                    font-size: 24px;
                }

                &__subtitle {
                    font-size: 18px;
                }

                &__btn {
                    margin-bottom: 7%;
                }
    }
}


@import '_menu';
@import '_about';
@import '_portfolio';
@import '_partners';


.content{
    background-color: rgb(223, 81, 81);
    min-height: 100vh;
}

.content1 {
    background-color: rgb(158, 113, 113);
    min-height: 100vh;
}